.inputContainer{
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 10px;
	font-size: 0.85rem;
}

.input{
	border: 1px solid var(--border-primary);
	background-color: var(--surface-secondary);
	box-shadow: 0 0 0 1px var(--border-secondary);
	border-radius: 10px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	font-size: inherit;
	transition: opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, border 200ms ease-in-out;
	min-width: 400px;
	&:focus-visible{
		outline: none;
		box-shadow: 0 0 0 4px var(--orange-transparent);
	}
	&:disabled{
		opacity: 0.5;
	}
}

.button{
	border: none;
	background-color: var(--orange);
	color: black;
	border-radius: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	font-size: inherit;
	transition: opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, border 200ms ease-in-out;
	font-size: 0.85rem;
	align-self: flex-end;
	align-items: center;
	display: flex;
	gap: 10px;
	&:focus-visible{
		outline: none;
		box-shadow: 0 0 0 4px var(--orange-transparent);
	}
	&:disabled{
		opacity: 0.5;
		cursor: not-allowed;
	}
	&.loading{
		pointer-events: none;
		padding-right: 10px;
	}
}

.Select {
  min-width: 350px;
  position: relative;
}

.Select select {
  appearance: none;
  width: 100%;
  font-size: 0.85rem;
	padding: 0 10px;
  background-color: var(--surface-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  cursor: pointer;
	height: 40px;
	line-height: 40px;
	transition: opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, border 200ms ease-in-out;
	&:focus-visible{
		outline: none;
		box-shadow: 0 0 0 4px var(--orange-transparent);
	}
}

.Select::before,
.Select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.Select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--border-primary);
  top: 40%;
}

.Select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--border-primary);
  top: 55%;
}