.replyContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1{
		font-size: inherit;
		margin-bottom: 5px;
		color: var(--border-primary)
	}
}

.reply{
	width: 300px;
	background-color: var(--surface-secondary);
	padding: 20px;
	border-radius: 20px;
	text-align: left;
	border: 1px solid var(--border-primary);
	& :global(img){
		border-radius: 10px;
		max-width: 300px;
	}
	&.user{
		border-top-right-radius: 0;
	}
	&.model{
		border-top-left-radius: 0;
	}
}
.chatWindow{
	max-height: 500px;
	overflow-y: scroll;
	padding-inline: 10px;
	text-align: left;
}