.flexVertical {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.flexHorizontal {
	display: flex;
	gap: 15px;
}
.alignItemsCenter {
	align-items: center;
}
.alignItemsStart {
	align-items: flex-start;
}
.alignItemsEnd {
	align-items: flex-end;
}
.justifyCenter {
	justify-content: center;
}
.justifyStart {
	justify-content: flex-start;
}
.justifyEnd {
	justify-content: flex-end;
}
.alignLeft {
	align-self: flex-start;
}
.alignRight {
	align-self: flex-end;
}
.padding{
	padding: 20px;
}
.rounded{
	border-radius: 20px;
}