.flexVertical {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.flexHorizontal {
	display: flex;
	gap: 15px;
}
.alignLeft {
	align-self: flex-start;
}
.alignRight {
	align-self: flex-end;
}
.padding{
	padding: 20px;
}
.rounded{
	border-radius: 20px;
}